.logo img{
    height: 100px;
}
.heading{
    align-items: center;
    color: red;
    margin-top: 30px;
    background-color: aqua;
}
.Mygirlfriend img{
    width: 100%;
    height: 100%;
}